<!DOCTYPE html>
<html lang="en">

<head>
    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
    <title>
        <%= bot.name %> Dashboard
    </title>
    <link rel="icon" href="<%= bot.avatar %>">
    
</head>

<body>
    <!--HEADER-->
    <%- include("header"); -%>
        <!--MIN BODY-->
        <div class="d-flex justify-content-center head">
            <h1>Build the best Discord Server ever!</h1>
        </div>
        <div class="d-flex justify-content-center th">
            <h2>With our all new Keepitup-Bot!</h2>
        </div>
        <div class="d-flex justify-content-center th">
            <h2>configure moderation, leveling, alerts, fun commands and more..</h2>
        </div>
        <div class="d-flex justify-content-center th">
            <h3>Easily simplified custom dashboard... made it easier to configure our bot...</h3>
        </div>
        <div class="d-flex justify-content-center subtext">
            <p>Help us by joining donating us.. and checking our <a class="links" href="http://uball.orgfree.com"
                    target="_blank">website</a>...</p>
        </div>
        <div class="container pt-10 custom-i">
            <img class="custom-image" src="https://media.discordapp.net/attachments/819513058858762282/885871568209739846/Screenshot_from_2021-09-10_18-25-17.png">
            <h3 class="align-self-start"><b>Welcome message and Auto Role...</b></h3>
            <p>
                Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

            </p>
        </div>
        <div class="container pt-10 custom-i1">
            <img class="custom-image" src="https://media.discordapp.net/attachments/819513058858762282/885871518435905536/Screenshot_from_2021-09-10_18-26-46.png">
            <h3 class="align-self-start"><b>Custom reaction-role...</b></h3>
            <p>
                Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

            </p>
        </div>
        <div class="container pt-10 custom-i2">
            <img class="custom-image" src="https://media.discordapp.net/attachments/885759619887169566/885875635690557480/Screenshot_from_2021-09-10_18-43-07.png">
            <h3 class="align-self-start"><b>Easy to Moderate...</b></h3>
            <p>
                Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

            </p>
        </div>
        <h4 class="container pt-10 hh"><center>And more waiting for you!</center></h4>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>